<div class="container">
    <header>
        <section id="user">Welcome <a href="profile">{{ user.firstName }} {{ user.lastName }}</a></section>
        <section id="logout"><a href="signOut()">Sign-Out</a>/<a href="register">Register</a></section>
        <a href="userProfile">
            <section id="banner">
                <section id="tt1"><img src="../../assets/doublet.svg" alt="Texas Tech University"></section>
                <section id="logo"><img src="../../assets/arenalogo.svg" alt="United Supermarkets Arena"></section>
                <section id="tt2"><img src="../../assets/doublet.svg" alt="Texas Tech University"></section>
                <section id="ems">Event Management System</section>
            </section>
        </a>
    </header>
</div>