<div class="container">
    <footer>
        <section id="navHome"><a href="home"><img src="../../assets/home.png" alt="Home"></a></section>
        <section id="navEvents"><a href="events"><img src="../../assets/events.png" alt="Events"></a></section>
        <section id="navGate"><a href="#"><img src="../../assets/gate.png" alt="Gate Count"></a></section>
        <section id="navIncidents"><a href="incidents"><img src="../../assets/incidents.png" alt="Incident Report"></a></section>
        <section id="navNotify"><a href="#"><img src="../../assets/notify.jpg" alt="Employee Notification"></a></section>
        <section id="navManager"><a href="#"><img src="../../assets/manager.png" alt="Arena Managers"></a></section>
        <section id="navSignUp"><a href="#"><img src="../../assets/signup.png" alt="Event Staff Sign-Up"></a></section>
        <section id="navMaps"><a href="#"><img src="../../assets/maps.png" alt="Arena Seating Guides"></a></section>
        <section id="bottom">Copyright 2012-2019 DDOT Technologies</section>
    </footer>
</div>