footer {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#bottom {
    width: 100%;
    text-align: center;
}